.SEMI-gold {
    border: 2px solid gold !important;
}

.SEMI-android-narrow-btn {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.SEMI-modal-btn {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.SEMI-notif {
    z-index: 2222 !important;
}

.lock-d-none {
    display: none !important;
}

.fold-d-none {
    display: none !important;
}